<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
</head>
<body>

Registration form

<form method="post" th:action="@{/save}">
  Name: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  Role: <input type="text" name="permissions"><br>
  <input type="submit" value="Add"><br>
</form>

<br>

Login form
<form method="post" th:action="@{/myLogin}">
  Name: <input type="text" name="login"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="login">
</form>

</body>
</html>